.product-image>.woocommerce-product-gallery.woocommerce-product-gallery--without-images.woocommerce-product-gallery--columns-4.images {
  opacity: 1 !important;
}

.product-image>.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
  opacity: 1 !important;
}

body {
  background-color:white;
}